:root {
    /*--bckgrndclr: rgba(128, 128, 0, 0.90);*/
    --bckgrndclr: rgba(255, 255, 255, 0.50);
}

input:read-only{
    border: none;
}

button {
    background: linear-gradient(to top left, white, olive);
    margin: 2px 0;
    padding: 10px 5px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 90%;
    color: darkolivegreen;
}

.clicked_but {
    background: linear-gradient(to bottom right, white, darkolivegreen);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

caption.onlyPrint {
    display: none;
}

body {
    background-attachment: fixed;
    font-size: 20px;
    background-image: url(../img/fon.png);
    background-repeat: repeat;
    background-size: 20%;
}

div.firstpage {
    margin: 1%  5%;
    padding: 1% 1%;
}

    div.firstpage > * {
        display:inline-block;
        width:100%;
    }

    div.firstpage > label {
        margin-bottom: 20px;
        font-size: 110%;
    }

    div.firstpage > button {
        width: 70%;
        margin-left: 15%;
        margin-right:15%;
        margin-top: 15px;
        padding: 15px 0;
        font-size: 130%;
    }

form#search {
    display: inline-flex;
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
}

    form#search input {
        text-align: left;
        width: 80%;
        height: 100%;
        padding: 4px 8px;
        border: 2px solid olive;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    form#search button {
        width: 20%;
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

.autorize {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .autorize form {
        flex-direction: column;
        display: flex;
        width: 250px;
    }

    .autorize input {
        margin: 10px 0;
        padding: 10px;
        border: unset;
        border-bottom: 2px solid #e3e3e3;
        outline: none;
    }

    .autorize button {
        padding: 10px;
        background-color: #e3e3e3;
        border: unset;
        cursor: pointer;
    }

    .autorize .msg {
        border: 2px solid #FFEB3B;
        border-radius: 3px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }

header {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #444444;
    padding: 20px 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.wrap-logo {
    margin-left: 1%;
    display: flex;
    align-items: center;
    height: 64px;
    background-image: url(../img/logo.png);
    background-size: 64px 64px;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    background: -webkit-linear-gradient(blue, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-left: 64px;
    font-weight: bold;
    font-size: 170%;
}

header a {
    color: #212121;
    padding: 12px;
    text-decoration: none;
    border-radius: 4px;
}

    header a:hover {
        background-color: #FBC02D;
        color: #212121;
    }

    header a.active {
        background-color: #FBC02D;
    }

    .opis{
        padding: 2% 2%;
        background-color: black;
        border-radius: 25px;
        font-size: 90%;
        color: white;
    }

nav {
    display: flex;
    align-items: center;
}

table {
    border: 2px solid #000;
    border-collapse: collapse;
}

    table td {
        font-size: 90%;
    }

    table th {
        font-size: 110%;
    }

fieldset, tbody {
    background: var(--bckgrndclr);
}

th, td {
    border: 1px solid #000;
    box-sizing: border-box;
}

body th {
    background-color: #dad9d9
}

button:hover {
    cursor: pointer;
}

.info_cnt_cell:hover {
    cursor: pointer;
}

td.info_cnt_cell_color:hover {
    cursor: pointer;
}

.info_cnt_tbl th {
    padding: 3px;
}

.info_cnt_tbl td {
    padding: 2px 7px;
}

.info_cnt_tbl td {
    padding: 2px 7px;
}

#detal_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
}

aside {
    float: left;
    background: linear-gradient(to top left, var(--bckgrndclr), #a5baff);
    width: 20%;
    padding: 10px 10px;
    border-radius:  10px;
}

    aside button {
        width: 100%;
        font-size: 70%;
    }

    aside label {
        font-weight: bold;
    }

main {
    float: right;
    width: 80%;
}

    main > form, main > table {
        width: 80%;
        margin: 0 10%;
        padding: 10px 10px;
    }

    .create_z > fieldset {
        float: left;
        width: 100%;
        padding: 10px 10px;
    }

.create_z > button {
    width: auto;
    display: flex;
    float: right;
}

.dialog_w {
    position: fixed;
    margin: 0 10%;
    padding: 1%;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: cadetblue;
    color: black;
    border: 5px solid blue;
    border-radius: 20px;
    border-top: 50px solid blue;
    padding-bottom: 50px;
    z-index: 999;
}

    .dialog_w label#top_dialog_lbl {
        position: absolute;
        height: 35px;
        top: -45px;
        left:10px;
        color:yellow;
        font-size: 33px;
    }

    #but_close {
        position: absolute;
        width: 35px;
        height: 35px;
        top: -45px;
        right: 10px;
        padding: 0;
        color: red;
        font-weight: bold;
    }

.bott_buts {
    display: inline-flex;
    position: absolute;
    height: 35px;
    bottom: 10px;
    right: 10px;
    padding: 0 5px;
    color: blue;
    font-weight: bold;
}

#but_apply {
    position: absolute;
    height: 35px;
    bottom: 10px;
    right: 10px;
    padding: 0 5px;
    color: blue;
    font-weight: bold;
}

fieldset {
    border-radius: 10px;
}

fieldset legend{
    background-color: yellow;
    color: blue;
    border-radius:  10px;
    padding: 10px 15px;
}

fieldset#fs1 {
    border: 5px solid blue;
    margin-bottom: 20px;
}

    fieldset#fs1 div {
        font-size: 70%;
    }

fieldset#fs1 > div {
    display: inline-block;
    width: 100%;
    min-height: 32px;
    position: relative;
}

    fieldset#fs1 > div > * {
        position: absolute;
        padding: 5px 5px;
        margin: 5px 0;
        height: 100%;
        right: 0;
        width: 55%;
        background: none;
        color: blue;
        font-weight: bold;
    }

    fieldset#fs1 > div > label {
        left: 0;
        width: 35%;
    }

.NP_SELECTOR {
    height: 116px;
}

    .NP_SELECTOR select, .NP_SELECTOR input {
        width: 100%;
        margin: 0;
        margin-bottom: 4px;
        height: 32px;
        background: none;
        padding: 0;
        color: blue;
        font-size: 140%;
    }

        .NP_SELECTOR input{
            background-color: white;
            border-radius: 20px;
            padding: 0 5px;
        }

    .NP_SELECTOR > div {
        padding: 0;
        border: 2px solid black;
        background-color: red;
    }

    fieldset#fs2 {
        border: 5px solid yellow;
    }

div#color_variant {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 20px;
    width: 100%;
    grid-column-gap: 2px;
}

    div#color_variant > label {
        color: white;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        padding: 5px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, white, blue);
        border-radius: 15px;
    }

    div#color_variant input[type=radio] {
        float: right;
        display: inline-block;
        width: 20%;
        height: 100%;
    }

    div#color_variant > label:hover {
        background: linear-gradient(to top, yellow, white);
        color: black;
        cursor: pointer;
    }

#grid_color {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2px;
    grid-row-gap: 5px;
}

.opt_color {
    display: flex;
    position: relative;
    background: linear-gradient(to right, olive, var(--bckgrndclr));
    border-radius: 10px;
    margin: 5px 5px;
    padding: 1% 2%;
    width: 100%;
    height: 100%;
}

    .opt_color:hover {
        background: olivedrab;
    }

    .opt_color select, 
    .right_menu > input[type=checkbox] {
        border-radius: 10px;
        height: 100%;
    }

.type_variant {
    background: none;
    height: 100%;
    border: none;
    color: white;
    font-weight: bold;
}

    .type_variant > option {
        background-color: darkolivegreen;
    }

.left_z_menu {
    position: relative;
    align-items: center;
    display: flex;
    width: 45%;
    height: 100%;
    display: inline-block;
}

    .left_z_menu > * {
        display: inline-flex;
    }

    .left_z_menu > label, .left_z_menu > select {
        position: relative;
        width: 100%;
        height: 55%;
        padding: 1% 0;
        margin: 0;
        color: yellow;
    }

    .left_z_menu > select {
        font-size: 80%;
    }

        div.convers {
            height: 40%;
            width: 90%;
            margin-left: 10%;
            border: 2px solid green;
            border-radius: 5px;
            padding: 5px;
            align-items: center;
        }

    div.convers * {
        display: inline-block;
    }

    div.convers label {
        width: 70%;
        color: black;
        font-style: italic;
        font-size: 70%;
    }

    div.convers input {
        width: 20%;
        margin-left: 5%;
    }

.right_menu {
    display: flex;
    position: absolute;
    right: 1%;
    height: 85%;
    width: 51%;
    justify-content: right;
    align-items: center;
    padding-right: 5px;
    color: black;
}

    .right_menu > * {
        display: inline-flex;
    }

    .right_menu > input, .right_menu > select {
        margin-left: 1%;
    }

.right_menu > input[type=checkbox] {
    width: 20%;
}

.right_menu > input[type=number] {
    width: 25%;
    text-align: right;
    border-radius: 5px;
    background-color: olivedrab;
    color: white;
}

.chb_yesno {
    position: relative;
    background: none;
}

    .chb_yesno > label {
        display:flex;
        position: relative;
        height: 100%;
        margin-left: 10px;
        border: 1px solid darkolivegreen;
        border-radius: 15px;
        padding: 3px;
        align-items: center;
    }

        .chb_yesno > label * {
            display: inline-flex;
        }

    .chb_yesno input{
        margin-left: 5px;
        float:right;
    }

    .tbl_price {
        padding: 0 10%;
    }

.tbl_price table {
    width: 100%;
}

    .tbl_price button {
        float: right;
        margin-top: 15px;
    }

.tbl_price input {
    width: 100%;
    text-align: right;
    margin: 0;
    border: none;
    background: none;
}

.price_name_cell {
    text-align: left;
    padding: 4px 6px;
}

.tbl_count th, .tbl_count td {
    padding: 3px 4px;
}

.tbl_sum th {
    padding: 10px;
}

.tbl_sum td  {
    padding: 5px;
}

.tbl_price tr:hover,
.tbl_count tr:hover,
.tbl_sum tr:hover,
.expenses_table tr:hover {
    background: #febaba;
}

#shop_div{
    width: 100%;
    display: block;
    background-color: red;
}

.shop_cell {
    position: relative;
    display: inline-block;
    float: left;
    width: 18%;
    min-width: 192px;
    background-color: white;
    margin: 1%;
    border: 2px solid darkolivegreen;
    border-radius: 10px;
    padding: 1%;
}

.shop_img{
    position:absolute;
    width: 40%;
    height: auto;
    left: 1%;
    bottom:1%;
    z-index:0;
    background: none;
}

    .shop_cell input, .shop_bott label {
        display: flex;
        background:none;
        border:none;
    }

     .shop_bott > label{
         position: absolute;
         z-index:1;
         left: -20px;
         top: -20px;
         padding:  4px 6px;
         padding-left: 15px;
         font-weight: bold;
         color:  rgb(0, 0, 255, 0.9);
         border: 3px solid blue;
         border-radius: 4px;
         border-bottom-right-radius: 0;
         border-top-left-radius: 30px;
         background-color: rgb(255, 255, 0, 0.9);
         max-width: 80%;
     }

        .shop_cell > label.L1 {
            position: absolute;
            padding: 5px;
            bottom: -40px;
            color: white;
            font-weight: bold;
        }

    .shop_cell > input.I1 {
        position: absolute;
        padding: 1px;
        bottom: -48px;
        color: yellow;
        font-style: italic;
        font-size: 130%;
        right: 2px;
        width: 60%;
        height: 46px;
        text-align: right;
    }

.shop_bott > input.I2 {
    position: absolute;
    padding: 1px;
    top: 3%;
    color: blue;
    font-weight: bold;
    font-size: 100%;
    right: 2px;
    width: 40%;
    text-align: right;
}

.shop_bott > input.I2:after {
    content: ' грн.';
}

.shop_selected {
    background-color: yellow;
}

.shop_bott{
    min-height: 128px;
}

.shop_counter{
    position: absolute;
    display: block;
    right:10px;
    width: 20%;
    height: 70%;
    bottom: 10px;
}

    .shop_counter > *{
        text-align: center;
        width: 100%;
        height: 33%;
        font-size: 110%;
    }

#go_bottom{
    position: fixed;
    left: 1%;
    bottom: 1%;
    font-size: 200%;
    color: darkolivegreen;
    border: 3px solid blue;
    background-color: yellow;
    padding: 4px;
    z-index: 999;
}

button.subm{
    min-width: 170px;
    min-height: 70px;
    font-size: 130%;
}

.count_inp {
    background: none;
    border: none;
}

#tbl_disc td{
    text-align: center;
}

#generator {
    display: flex;
    margin-top: 30px;
    border: 5px solid yellow;
    border-radius: 10px;
    padding: 10px;
    justify-content:center;
    align-items:center;
}

    #generator *{
        display:inline-flex;
        min-height: 40px;
        min-width: 25%;
        margin-left: 10px;
        text-align: center;
    }

    #generator > input{
        font-size: 130%;
    }

    #infoForm {
        padding: 0 5%;
    }

#infoForm td {
    padding: 2px 4px;
}

.but_zakazi {
    padding: 0 20px;
}

.activeZ {
    position: relative;
    display: grid;
    grid-template-columns: 10% 28% 17% 15% 10% 10% 10%;
    width: 100%;
    background: linear-gradient(to left, #fdff32, var(--bckgrndclr));
    border-radius: 10px;
    padding: 1%;
    margin-left: 2px;
    margin-bottom: 4px;
    align-items: center;
}

    .activeZ:hover {
        margin-left: 10px;
        margin-bottom: 10px;
        box-shadow: -8px 5px 5px rgb(0,0,0, 0.5);
    }

    .activeZ * {
        font-size: 75%;
    }

    .activeZ p {
        position: absolute;
        font-size: 70%;
        left: 5%;
        top: 1%;
        text-transform: uppercase;
        color: rgb(34, 0, 255, 0.2);
    }

#zakaz_workplace{
    padding: 0 10%;
    margin-top: 2%;
}

.activeZ * {
    text-align: center;
    font-weight: bold;
    color: black;
    position: relative;
    margin: 2px 5px;
}

.period_done {
    display: flex;
    width: 100%;
    font-size: 120%;
    justify-content: center;
    align-items: center;
}

    .period_done * {
        display: inline-flex;
        min-width: 40px;
        width:initial;
        height: 100%;
        font-size: inherit;
        text-align: center;
    }

    .period_done input{
        background: none;
        border: none;
    }

    label.percent {
        position: absolute;
        left: -50px;
        top: -5px;
        background: none;
        font-size: 130%;
        color: rgb(0,0,255, 0.3);
        font-weight: bold;
        border: 4px solid rgb(0,0,255, 0.3);
        padding: 3px 18px;
        -webkit-transform: rotate(-15deg);
        z-index: 0;
    }

label.term {
    position: absolute;
    left: 50%;
    top: -10px;
    background: none;
    font-size: 150%;
    color: rgb(255,0,0, 0.5);
    font-weight: bold;
    border: 10px double rgb(255,0,0, 0.5);
    padding: 3px 18px;
    -webkit-transform: rotate(10deg);
    z-index: 0;
}

label.costs {
    position: absolute;
    right: 2%;
    bottom: 5%;
    background: none;
    color: rgb(0,0,0, 0.5);
    font-weight: bold;
    font-style: italic;
    font-size: 70%;
    z-index: 999;
    padding: 0;
    margin: 0;
}

table.kompl {
    border: none;
    border-collapse: separate;
    border-spacing: 4px 0;
    font-size: 100%;
    font-style: italic;
}

    table.kompl td {
        padding: 0 2px;
        border: none;
        border-top: 3px solid darkolivegreen;
    }

.but_cng, .but_del, .but_prt {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    z-index: 999;
}

.dis.but_cng, .dis.but_del, .dis.but_prt{
    opacity: 0.3;
}

.but_cng {
    background-image: url(../img/img_chn.png);
}

.but_del {
    background-image: url(../img/img_del.png);
}

.but_prt {
    background-image: url(../img/img_prt.png);
}

.printInfo {
    position: relative;
    width: 100%;
}

    .printInfo td {
        text-align: left;
    }

.doneApply {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding: 5px 10px;
    background: linear-gradient(to bottom, olive, var(--bckgrndclr)); 
    border-radius: 5px;
}

    .doneApply * {
        font-size: 70%;
    }

    .doneApply > input {
        width: 90px;
        margin: 2px 10px;
    }

        .doneApply > input[type=number] {
            width: 70px;
            text-align: right;
        }

select#creator{
    margin: 2px 3px;
    border-radius: 3px;
    background:none;
}

.zvitMenu, .expensesMenu {
    display: inline-block;
    width: 100%;
    padding: 5px 5px;
}

#zvitResult{
    padding: 0 10%;
}

#zvitResult > * {
    width:100%;
}

#zvitMenu > button {
    width: 19%;
    font-size: 60%;
}

#expensesMenu  > button{
    width: 42%;
    margin-left: 5%;
}

.expenses_list {
    border: none;
    width: 100%;
}

    .expenses_list th {
        padding: 5px 20px;
        text-align: left;
        font-size: 120%;
        color: blue;
    }

.expenses_list td {
    padding: 2px 2px;
    text-align: center;
    border: 2px dotted;
    font-style:italic;
}

.autor_exp {
    font-size: 120%;
    border: none;
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

    .autor_exp td {
        text-align: right;
        padding: 4px 4px;
        font-weight: bold;
    }

    td.del_cell {
        position:relative;
        width:3%;
        padding: 0;
        margin:0;
        background-color:white;
    }

input.delrow {
    position: absolute;
    text-align: center;
    left: 10%;
    top:10%;
    width: 80%;
    height: 80%;
    border: none;
    color: white;
    background-color: rgba(255,0,0,0.7);
    font-weight: bold;
    margin: 0;
    padding: 0;
    border-radius: 30px;
}

    .delrow:hover {
        cursor: pointer;
    }

    .zvitMenu > form *,
    .expensesMenu > form * {
        position: center;
        display: inline-block;
    }

#periodVariant {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(to bottom, darkolivegreen, var(--bckgrndclr));
    border-radius: 10px;
}

#numberToInfo > *{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 3px;
}

.expenses_table {
    float:left;
    width: 100%;
    margin-bottom: 25px;
}

    .expenses_table td > * {
        background: none;
    }

    .expenses_table th {
        padding: 10px 10px;
    }

    .expenses_table > caption{
        margin-bottom: 15px;
    }

        .expenses_table > caption > input {
            width: auto;
        }

.expenses_table td {
    padding: 0;
    margin: 0;
}

    .expenses_table select, 
    .expenses_table input {
        margin: 0;
        width: 100%;
        height: 100%;
        border: none;
        padding: 7px 5px;
    }

.price_cell > input[type=number] {
    text-align: right;
}

.count_cell > input[type=number] {
    text-align: center;
}

#butaddrow {
    float: left;
    width: 70px;
}

    #expenses div > button {
        float: right;
    }

.row_comm {
    color: grey;
    border-top: 2px dotted grey;
    background: linear-gradient(to left, #d5d5d5, var(--bckgrndclr));
}

    .row_comm td {
        font-size: 60%;
        font-style: italic;
        color: darkgreen;
        border-left: 2px dotted grey;
        text-align:right;
    }

.invalid {
    border: 3px solid red;
    color : red;
    font-weight: bold;
}

.color_cell {
    font-weight: lighter;
    padding: 0;
    margin: 0;
    width: 5%;
    color: white;
}

@media screen and (max-width: 1300px) {
    body * {
        font-size: 18px;
    }

    #grid_color {
        grid-template-columns: 100%;
        grid-column-gap: 0;
    }

}

@media screen and (max-width: 1000px) {

    body * {
        font-size: 16px;
    }

    aside {
        display: flex;
        width: 100%;
    }

        aside > form {
            width: 100%;
        }

    #feedBack > div * {
        display: inline-block;
        width: 20%;
    }

    main {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }

        main > form, main table {
            width: 100%;
            margin: 0;
        }

    #workfield {
        margin-top: 10px;
        padding: 0;
    }

        #workfield tr * {
            font-size: 75%;
        }

        #workfield th {
            font-size: 85%;
        }

        #zakaz_workplace {
            padding: 0;
        }

    #zvitResult {
        padding: 0;
        font-size: 50%;
    }

    .doneApply > input {
        width: 60px;
        margin: 2px 2px;
    }

        .doneApply > input[type=number] {
            text-align: right;
        }
}

@media screen and (max-width: 720px) {
    body * {
        font-size: 14px;
    }

    aside button {
        font-size: 50%;
    }

    #workfield tr * {
        font-size: 60%;
    }

    #workfield th {
        font-size: 65%;
    }

    #workfield tr option {
        font-size: 120%;
    }

    .opt_color * {
        font-size: 95%;
    }

    .shop_cell {
        min-width: 0;
        width: 48%;
    }
}
@media print {

        aside {
            width: 0;
            margin: 0;
        }

        main {
            width: 100%;
            padding: 0;
            margin: 0;
        }

            main > * {
                width: 100%;
                margin: 0;
                padding: 0;
            }

        form {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        #zvitResult, #workfield, #infoForm {
            padding: 0;
            margin: 0;
            width: 100%;
        }

            #workfield > *, #zvitResult, .printInfo {
                width: 93%;
                margin-left: 5%;
            }

        body, body *, .tbl_sum * {
            background: none;
        }

        .tbl_sum {
            margin: 0;
        }

        button, .no-print, .no-print * {
            display: none !important;
        }

        caption.onlyPrint {
            display: table-caption;
        }

        #zvitResult > * {
            width: 98%;
        }

        div {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        table {
            width: 98%;
            margin: 0;
            padding: 0;
        }
    }