:root{
    --formbutbckgrnd: olive;
}

input:read-only{
    border: none;
}

button {
    background: linear-gradient(to top left, white, olive);
    margin: 2px 0;
    padding: 10px 5px;
    font-weight: bold;
    border-radius: 5px;
}

.clicked_but {
    background: linear-gradient(to bottom right, white, darkolivegreen);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

caption.onlyPrint {
    display: none;
}

body {
    font-size: 16px;
}

div.firstpage{
    display: block;
    width:100%;
    justify-content:center;
    align-items:center;
}

    div.firstpage > * {
        font-size: 30px;
        margin: 0 5%;
    }

    div.firstpage > label {
        background-color: green;
    }

    div.firstpage > button {
        margin-top: 10px;
    }

form#search {
    display: inline-flex;
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
}

    form#search input {
        text-align: left;
        width: 80%;
        height: 100%;
        padding: 4px 8px;
        font-size: 20px;
        border: 2px solid olive;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    form#search button {
        width: 20%;
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

.autorize {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .autorize form {
        flex-direction: column;
        display: flex;
        width: 250px;
    }

    .autorize input {
        margin: 10px 0;
        padding: 10px;
        border: unset;
        border-bottom: 2px solid #e3e3e3;
        outline: none;
    }

    .autorize button {
        padding: 10px;
        background-color: #e3e3e3;
        border: unset;
        cursor: pointer;
    }

    .autorize .msg {
        border: 2px solid #FFEB3B;
        border-radius: 3px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FFEB3B;
    padding: 20px 10px;
}

.wrap-logo {
    display: flex;
    align-items: center;
}

header a {
    color: #212121;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

    header a.logo {
        font-size: 25px;
        font-weight: bold;
    }

    header a:hover {
        background-color: #FBC02D;
        color: #212121;
    }

    header a.active {
        background-color: #FBC02D;
    }

nav {
    display: flex;
    align-items: center;
}

table {
    border: 2px solid #000;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    box-sizing: border-box;
}

body th {
    background-color: #dad9d9
}

button:hover {
    cursor: pointer;
}

.wrapper {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
}

aside {
    float: left;
    background: linear-gradient(to top left, white, blue);
    width: 20%;
    padding: 10px 10px;
}

    aside button {
        width: 100%;
    }

    aside label {
        font-size: large;
        font-weight: bold;
    }

main {
    float: right;
    width: 80%;
}

    main > form, main > table {
        width: 80%;
        margin: 0 10%;
        padding: 10px 10px;
    }

    .create_z > fieldset {
        border: 2px solid #ff0000;
        float: left;
        width: 100%;
        padding: 10px 10px;
    }

        .create_z > fieldset > legend {
            font-size: large;
            font-weight: bold;
        }

.create_z > button {
    width: auto;
    display: flex;
    float: right;
}

fieldset#fs1 > div {
    display: inline-block;
    width: 100%;
    height: 32px;
    position: relative;
}

fieldset#fs1 > div > * {
    position: absolute;
    padding: 5px 5px;
    margin: 5px 0;
    font-size: 16px;
    height: 100%;
    right: 0;
    width: 55%;
}

    fieldset#fs1 > div > label {
        left: 0;
        width: 35%;
    }

fieldset#fs2 {
    border: 2px solid #000;
}

div#color_variant {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 20px;
    width: 100%;
    grid-column-gap: 2px;
}

    div#color_variant > label {
        color: white;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        padding: 5px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, white, blue);
        border-radius: 15px;
    }

    div#color_variant input[type=radio] {
        float: right;
        display: inline-block;
        width: 20%;
        height: 100%;
    }

    div#color_variant > label:hover {
        background: linear-gradient(to top, yellow, white);
        color: black;
        cursor: pointer;
    }

#grid_color {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2px;
}

.opt_color {
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, darkolivegreen, white);
    border-radius: 10px;
    margin: 5px 5px;
    padding: 5px 10px;
    color: white;
    width: 100%;
    height: 30px;
}

    .opt_color:hover {
        background: olivedrab;
    }

    .opt_color select, 
    .right_menu > input[type=checkbox] {
        border-radius: 10px;
        height: 100%;
    }

.type_variant {
    /*appearance: none;*/
    background: none;
    height: 100%;
    border: none;
    color: white;
    font-weight: bold;
}

    .type_variant > option {
        background-color: darkolivegreen;
    }

.left_z_menu {
    position: absolute;
    align-items: center;
    display: flex;
    width: 53%;
    height:100%;
}

.left_z_menu * {
    display: inline-flex;
}

    .left_z_menu > label {
        font-size: small;
    }

    .convers {
        position: absolute;
    }

label.convers {
    right: 23px;
}

input.convers {
    right: 2px;
    width: 20px;
    height: 100%;
}

.right_menu {
    display: flex;
    position: absolute;
    right: 2%;
    height: 85%;
    width: 43%;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    color: black;
}

    .right_menu > * {
        display: inline-flex;
    }

    .right_menu > input, .right_menu > select {
        margin-left: 5px;
    }

.right_menu > input[type=checkbox] {
    width: 20px;
}

.right_menu > input[type=number] {
    width: 65px;
    text-align: right;
    border-radius: 5px;
    background: olive;
    color: white;
    font-weight: bold;
}

.chb_yesno {
    position: relative;
    background: none;
}

    .chb_yesno > label {
        display:flex;
        position: relative;
        height: 100%;
/*        width: 60px;*/
        margin-left: 10px;
        border: 1px solid darkolivegreen;
        border-radius: 15px;
        padding: 3px;
        align-items: center;
    }

        .chb_yesno > label * {
            display: inline-flex;
        }

    .chb_yesno input{
        margin-left: 5px;
        float:right;
    }

    .tbl_price {
        padding: 0 10%;
    }

.tbl_price table {
    width: 100%;
}

    .tbl_price table * {
        font-size:  20px;
    }

    .tbl_price table caption {
        font-size: 26px;
    }

    .tbl_price button {
        float: right;
        margin-top: 15px;
    }

.tbl_price input {
    width: 100%;
    text-align: right;
    margin: 0;
    border: none;
    background: none;
}

.price_name_cell {
    text-align: left;
    padding: 4px 6px;
}

.tbl_count th, .tbl_count td {
    padding: 3px 4px;
}

.tbl_count * {
    font-size: 20px;
}

.tbl_sum th {
    padding: 10px;
    font-size: larger
}

.tbl_sum td  {
    padding: 5px;
}

.tbl_price tr:hover,
.tbl_count tr:hover,
.tbl_sum tr:hover,
.expenses_table tr:hover {
    background: #febaba;
}

#infoForm table * {
    font-size: 20px;
}

#infoForm td {
    padding: 2px 4px;
}

.but_zakazi {
    padding: 0 20px;
}

.activeZ {
    position: relative;
    display: grid;
    grid-template-columns: 5% 30% 20% 15% 10% 10% 10%;
    width: 100%;
    background: linear-gradient(to right, darkolivegreen, white);
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    align-items: center;
}

#zakaz_workplace{
    padding: 0 10%;
    margin-top: 2%;
}

.activeZ * {
    text-align: center;
    font-size: inherit;
    font-weight: bold;
    color: white;
    position: relative;
    margin: 2px 5px;
}

.but_cng, .but_del, .but_prt {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
}

.but_cng {
    background-image: url(../img/img_chn.png);
}

.but_del {
    background-image: url(../img/img_del.png);
}

.but_prt {
    background-image: url(../img/img_prt.png);
}

.printInfo {
    position: relative;
    width: 100%;
}

    .printInfo td {
        text-align: left;
    }

.doneApply {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding: 5px 10px;
    background: linear-gradient(to bottom, olive, white); 
    border-radius: 5px;
}

    .doneApply > input {
        width: 90px;
        margin: 2px 10px;
    }

        .doneApply > input[type=number] {
            width: 70px;
            text-align: right;
        }

.zvitMenu, .expensesMenu {
    display: inline-block;
    width: 100%;
    padding: 5px 5px;
}

#zvitResult{
    padding: 0 10%;
}

#zvitResult > table {
    width:100%;
}

    #zvitResult > form {
        width: 100%;
    }

#zvitMenu > button {
    width: 19%;
}

#expensesMenu  > button{
    width: 42%;
    margin-left: 5%;
}

.expenses_list {
    border: none;
    width: 100%;
}

    .expenses_list th {
        padding: 5px 20px;
        text-align: left;
        font-size: 170%;
        color: blue;
    }

.expenses_list td {
    padding: 2px 2px;
    text-align: center;
    border: 2px dotted;
    font-style:italic;
}

.autor_exp {
    font-size: 120%;
    border: none;
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

    .autor_exp td {
        text-align: right;
        padding: 4px 4px;
        font-weight: bold;
    }

    .del_cell {
        width:3%;
        padding: 0;
    }

.del_cell input{
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    background-color: red;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

    .delrow:hover {
        cursor: pointer;
    }

    .zvitMenu > form *,
    .expensesMenu > form * {
        position: center;
        display: inline-block;
    }

#zvitResult > * {
    width: 80%;
}

#periodVariant {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(to bottom, darkolivegreen, white);
    border-radius: 10px;
}

#numberToInfo > *{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 3px;
}

.expenses_table {
    float:left;
    width: 100%;
    margin-bottom: 25px;
}

    .expenses_table td > * {
        background: none;
    }

    .expenses_table th {
        padding: 10px 10px;
    }

    .expenses_table > * {
        font-size: 14px;
    }

    .expenses_table > caption{
        font-size: 20px;
        margin-bottom: 15px;
    }

        .expenses_table > caption > input {
            font-size: 20px;
            width: auto;
        }

.expenses_table td {
    padding: 0;
    margin: 0;
}

    .expenses_table select, 
    .expenses_table input {
        margin: 0;
        width: 100%;
        height: 100%;
        border: none;
        padding: 7px 5px;
    }

.price_cell > input[type=number] {
    text-align: right;
}

.count_cell > input[type=number] {
    text-align: center;
}

#butaddrow {
    float: left;
    width: 70px;
}

    #expenses div > button {
        float: right;
    }

.row_comm {
    color: grey;
    border-top: 2px dotted grey;
    background: linear-gradient(to left, #d5d5d5, white);
}

    .row_comm td {
        font-size: calc(100% * 0.9);
        font-style: italic;
        color: grey;
        border-left: 2px dotted grey;
    }

.invalid {
    border: 3px solid red;
    color : red;
    font-weight: bold;
}

.color_cell {
    font-weight: lighter;
    font-size:smaller;
    padding: 0;
    margin: 0;
    width: 5%;
    color: white;
}

@media screen and (max-width: 1200px) {
    body * {
        font-size: 12px;
    }

    aside {
        font-size: 12px;
        display: flex;
        width: 100%;
    }

        aside > form {
            width: 100%;
        }

    #feedBack > div * {
        display: inline-block;
        width: 20%;
    }

    main {
        float: left;
        width: 100%;
    }

        main * {
            font-size: 10px;
        }

        main > form, main > table {
            width: 100%;
            margin: 0;
        }

    fieldset#fs1 > label, fieldset#fs1 > input {
        font-size: 12px;
    }

    #grid_color {
        grid-template-columns: 100%;
        grid-column-gap: 0;
    }

    #workfield{
        margin-top: 10px;
    }

    #zakaz_workplace {
        padding: 0;
    }

    #zvitResult {
        padding: 0;
    }

    .expenses_table * {
        font-size: 10px;
    }

    .expenses_table > caption {
        font-size: 14px;
    }

    .doneApply *{
        font-size: 10px;
    }

    .doneApply > input {
        width: 60px;
        margin: 2px 2px;
    }

        .doneApply > input[type=number] {
            width: 50px;
            text-align: right;
        }

    .tbl_count *{
        font-size: 12px;
    }
}

@media screen and (max-width: 720px) {

    aside * {
        font-size: 10px;
    }

    body {
        font-size: 10px;
    }

}

@media print {

    aside {
        width: 0;
        margin:0;
    }

    main {
        width: 100%;
        padding: 0;
        margin:0;
    }

        main > * {
            width: 100%;
            margin: 0;
            padding: 0;
        }

    form{
        width:100%;
        margin:0;
        padding:0;
    }

    button, .no-print, .no-print * {
        display: none !important;
    }

    caption.onlyPrint {
        display: table-caption;
    }

    #zvitResult > * {
        width: 100%;
    }

    div {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    table {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}